.layout{
    display: flex;
    flex-direction: column;
}
.layout > .top{
    flex: 0.3;
    border: 1px solid #666666;
    margin-bottom: -1px;
}
.layout > .middle{
    flex: 6;
    display: flex;
    border: 1px solid #666666;
}
.middle > .middle-left{
    flex: 2.5;
    border: 1px solid #666666;
}
.middle > .middle-middle{
    flex: 4.5;
    border: 1px solid #666666;
}
.middle > .middle-right{
    flex: 1.5;
    border: 1px solid #666666;
}
.layout > .bottom{
    flex: 2;
    border: 1px solid #666666;
    margin-top: -1px;
}
